In [46]:
# 1
# Import dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime
from datetime import date
import calendar
import warnings
warnings.filterwarnings('ignore')

### Store csv data into DataFrames

In [47]:
# 2
# 1 of 11 crimes
# Store CSV into DataFrame
crimes = "Resources/LA_Crime.csv"
# la_crimes_rate = pd.read_csv(crime)
crimes = pd.read_csv(crimes)
# crimes.head()
crimes.head(2)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,191907890,43549,43102,800,19,Mission,1918,946,OTHER MISCELLANEOUS CRIME,0913 0100,...,NaN,IC,Invest Cont,946,NaN,NaN,NaN,12900 DRONFIELD AV,NaN,"(34.3048, -118.4333)"
1,191604279,43473,43102,1100,16,Foothill,1656,624,BATTERY - SIMPLE ASSAULT,1202 1701 0417 0562 0447 0416,...,ROCK/THROWN OBJECT,AO,Adult Other,624,NaN,NaN,NaN,10400 PARR AV,NaN,"(34.2579, -118.3131)"

In [48]:
# 13
# 1 of 11 parking
# Store CSV into DataFrame
parking = "Resources/LA_Parking.csv"
parking = pd.read_csv(parking)
parking.head(2)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1116198775,43101,1520,NaN,NaN,CA,201807.0,NaN,MITS,SU,BK,8701 WINNETKA,17EL1,1,4000A1,NO EVIDENCE OF REG,50,99999.000,99999.000
1,1116198764,43101,1515,NaN,NaN,CA,201812.0,NaN,GMC,VN,WH,8401 WINNETKA,17EL1,1,4000A1,NO EVIDENCE OF REG,50,6389044.544,1903724.333

In [49]:
print(crimes.max(axis=0))

DR Number                                      191907890
Date Reported                                      43549
Date Occurred                                      43102
Time Occurred                                       2359
Area ID                                               21
Area Name                                       Wilshire
Reporting District                                  2197
Crime Code                                           956
Crime Code Description    VIOLATION OF RESTRAINING ORDER
Victim Age                                            99
Premise Code                                         719
Premise Description          YARD (RESIDENTIAL/BUSINESS)
Weapon Used Code                                     512
Status Code                                           JO
Status Description                             Juv Other
Crime Code 1                                         956
Crime Code 2                                         998
Crime Code 3                                         NaN
Crime Code 4                                         NaN
Address                                          WESTERN
Location                            (34.3245, -118.4696)
dtype: object

In [50]:
print(parking.max(axis=0))

Ticket number                     4324502420
Issue Date                             43101
Issue time                              2321
Meter Id                                 NaN
Marked Time                              NaN
RP State Plate                            NY
Plate Expiry Date                     201910
VIN                                      NaN
Make                                    VOLV
Body Style                                VN
Color                                     YE
Location                 HURRICANE/ SPEEDWAY
Agency                                    56
Violation code                          8603
Violation Description    WITHIN INTERSECTION
Fine amount                              363
Latitude                         6.50345e+06
Longitude                         1.9046e+06
dtype: object

In [51]:
# 3
# 2 of 11 crimes
type (crimes)

pandas.core.frame.DataFrame

In [52]:
# 3
# 2 of 11 parking
type (parking)

pandas.core.frame.DataFrame

In [53]:
# 4
# 3 of 11 crimes
crimes.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

In [54]:
# 4
# 3 of 11 parking
parking.columns

Index(['Ticket number', 'Issue Date', 'Issue time', 'Meter Id', 'Marked Time',
       'RP State Plate', 'Plate Expiry Date', 'VIN', 'Make', 'Body Style',
       'Color', 'Location', 'Route', 'Agency', 'Violation code',
       'Violation Description', 'Fine amount', 'Latitude', 'Longitude'],
      dtype='object')

In [55]:
# https://erikrood.com/Python_References/extract_month_year_pandas_final.html

crimes['Date Reported'] = pd.DatetimeIndex(crimes['Date Reported']).year
crimes['month'] = pd.DatetimeIndex(crimes['Date Reported']).month

In [56]:
# https://erikrood.com/Python_References/extract_month_year_pandas_final.html
parking['Issue Date'] = pd.DatetimeIndex(parking['Issue Date']).year
parking['month'] = pd.DatetimeIndex(parking['Issue Date']).month

In [57]:
crimes.head(2)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,month
0,191907890,1970,43102,800,19,Mission,1918,946,OTHER MISCELLANEOUS CRIME,0913 0100,...,IC,Invest Cont,946,NaN,NaN,NaN,12900 DRONFIELD AV,NaN,"(34.3048, -118.4333)",1
1,191604279,1970,43102,1100,16,Foothill,1656,624,BATTERY - SIMPLE ASSAULT,1202 1701 0417 0562 0447 0416,...,AO,Adult Other,624,NaN,NaN,NaN,10400 PARR AV,NaN,"(34.2579, -118.3131)",1

In [58]:
parking.head(2)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,month
0,1116198775,1970,1520,NaN,NaN,CA,201807.0,NaN,MITS,SU,BK,8701 WINNETKA,17EL1,1,4000A1,NO EVIDENCE OF REG,50,99999.000,99999.000,1
1,1116198764,1970,1515,NaN,NaN,CA,201812.0,NaN,GMC,VN,WH,8401 WINNETKA,17EL1,1,4000A1,NO EVIDENCE OF REG,50,6389044.544,1903724.333,1

In [59]:
## https://chrisalbon.com/python/data_wrangling/pandas_split_lat_and_long_into_variables/
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in crimes['Location ']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        lat.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        lon.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        lat.append(np.NaN)
        # append a missing value to lon
        lon.append(np.NaN)

# Create two new columns from lat and lon
crimes['latitude'] = lat
crimes['longitude'] = lon

In [60]:
crimes.head(2)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,month,latitude,longitude
0,191907890,1970,43102,800,19,Mission,1918,946,OTHER MISCELLANEOUS CRIME,0913 0100,...,946,NaN,NaN,NaN,12900 DRONFIELD AV,NaN,"(34.3048, -118.4333)",1,(34.3048,-118.4333)
1,191604279,1970,43102,1100,16,Foothill,1656,624,BATTERY - SIMPLE ASSAULT,1202 1701 0417 0562 0447 0416,...,624,NaN,NaN,NaN,10400 PARR AV,NaN,"(34.2579, -118.3131)",1,(34.2579,-118.3131)

In [61]:
crimes.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location ', 'month',
       'latitude', 'longitude'],
      dtype='object')

In [62]:
# 5 
# 4 of 11 crimes
# Create new data with select columns

la_crimes_new = crimes[['Date Reported', 'month', 'latitude', 'longitude','Crime Code 1', 'Address',]].copy()
la_crimes_new.head()
# rename columns
la_crimes_new.rename(columns={'Date Reported':'Year','month':'Month','latitude':'Lat','longitude':'Lon', 'Crime Code 1':'Violation code','Address':'Address'}, inplace=True)
la_crimes_new

,Year,Month,Lat,Lon,Violation code,Address
0,1970,1,(34.3048,-118.4333),946,12900 DRONFIELD AV
1,1970,1,(34.2579,-118.3131),624,10400 PARR AV
2,1970,1,(34.1758,-118.379),420,TUJUNGA
3,1970,1,(34.1095,-118.1903),900,5900 HAYES AV
4,1970,1,(34.034,-118.4404),440,2400 PURDUE AV
5,1970,1,(34.0431,-118.3482),510,400 S CROCKER ST
6,1970,1,(33.7242,-118.2869),230,2200 BARBOUR CT
7,1970,1,(34.0432,-118.2085),331,2500 E 1ST ST
8,1970,1,(34.0467,-118.2411),330,3RD ST
9,1970,1,(34.2083,-118.5754),354,20300 SATICOY ST
10,1970,1,(34.2198,-118.5989),649,21500 ROSCOE BL
11,1970,1,(34.232,-118.608),649,8900 NEVADA AV
12,1970,1,(34.1872,-118.5691),440,6400 PENFIELD AV
13,1970,1,(34.2276,-118.6045),946,8600 TOPANGA CANYON BL
14,1970,1,(34.2011,-118.5863),956,7200 KELVIN AV
15,1970,1,(34.2029,-118.5929),440,7300 VARIEL AV
16,1970,1,(34.2183,-118.5906),341,20900 BURTON ST
17,1970,1,(34.1679,-118.5804),956,20600 VENTURA BL
18,1970,1,(34.1792,-118.6408),740,23600 OXNARD ST
19,1970,1,(34.1803,-118.6094),510,6000 MAGNOL LN
20,1970,1,(34.152,-118.5763),330,20300 RUSTON RD
21,1970,1,(34.1883,-118.6536),341,VALLEY CIRCLE
22,1970,1,(34.1829,-118.6102),420,6200 RANDI AV
23,1970,1,(34.2083,-118.5776),510,20400 SATICOY ST
24,1970,1,(34.2083,-118.5991),331,21500 SATICOY ST
25,1970,1,(34.1565,-118.626),341,22900 GERSHWIN DR
26,1970,1,(34.2104,-118.6368),510,7700 WOODHALL AV
27,1970,1,(34.2103,-118.6016),331,7700 OWENSMOUTH AV
28,1970,1,(34.1905,-118.6059),440,6600 TOPANGA CANYON BL
29,1970,1,(34.2029,-118.5906),740,7300 INDEPENDENCE AV
...,...,...,...,...,...,...
169,1970,1,(33.9727,-118.285),510,7500 S BROADWAY
170,1970,1,(33.9689,-118.2739),624,100 W 78TH ST
171,1970,1,(33.9933,-118.3138),627,S GRAMERCY PL
172,1970,1,(33.985,-118.2937),510,1100 W 60TH PL
173,1970,1,(33.9692,-118.3003),236,7800 S NORMANDIE AV
174,1970,1,(33.9747,-118.2695),210,300 E FLORENCE AV
175,1970,1,(33.96,-118.309),210,WESTERN
176,1970,1,(33.997,-118.3101),210,1500 W 51ST ST
177,1970,1,(33.9797,-118.3309),230,6600 CRENSHAW BL
178,1970,1,(33.9892,-118.3062),624,1700 W SLAUSON AV
179,1970,1,(33.9691,-118.3308),888,7800 CRENSHAW BL
180,1970,1,(33.9656,-118.2608),410,8100 MCKINLEY AV
181,1970,1,(33.9908,-118.3367),210,57TH
182,1970,1,(33.9905,-118.2915),210,57TH ST
183,1970,1,(33.9746,-118.3003),626,FLORENCE AV
184,1970,1,(33.9892,-118.3089),510,1800 W SLAUSON AV
185,1970,1,(33.988,-118.3439),320,4000 W 58TH PL
186,1970,1,(34.0937,-118.2781),740,1700 GRIFFITH PARK BL
187,1970,1,(34.0917,-118.234),434,2400 RIVERDALE AV
188,1970,1,(34.0912,-118.245),420,1400 CERRO GORDO ST
189,1970,1,(34.0941,-118.2236),354,3400 MACEO ST
190,1970,1,(34.1211,-118.2414),310,3400 DREW ST
191,1970,1,(34.3216,-118.4958),626,16600 FOOTHILL BL
192,1970,1,(34.2338,-118.472),930,9000 ORION AV
193,1970,1,(34.3039,-118.4358),420,13900 AZTEC ST
194,1970,1,(34.3245,-118.4696),341,13000 GLENOAKS BL
195,1970,1,(34.261,-118.4698),922,10600 N SEPULVEDA BL
196,1970,1,(34.2528,-118.4403),745,14100 VAN NUYS BL
197,1970,1,(34.2229,-118.4198),330,13000 SCHOENBORN ST
198,1970,1,(34.2389,-118.4536),740,9200 VAN NUYS BL

In [63]:
parking.columns

Index(['Ticket number', 'Issue Date', 'Issue time', 'Meter Id', 'Marked Time',
       'RP State Plate', 'Plate Expiry Date', 'VIN', 'Make', 'Body Style',
       'Color', 'Location', 'Route', 'Agency', 'Violation code',
       'Violation Description', 'Fine amount', 'Latitude', 'Longitude',
       'month'],
      dtype='object')

In [64]:
# 5 
# 4 of 11 crimes
# Create new data with select columns

la_parking_new = parking[['Issue Date', 'month', 'Latitude', 'Longitude','Violation code', 'Location',]].copy()
la_parking_new.head()
# rename columns
la_parking_new.rename(columns={'Issue Date':'Year','month':'Month','Latitude':'Lat','Longitude':'Lon', 'Location':'Address'}, inplace=True)
la_parking_new

,Year,Month,Lat,Lon,Violation code,Address
0,1970,1,99999.000,99999.000,4000A1,8701 WINNETKA
1,1970,1,6389044.544,1903724.333,4000A1,8401 WINNETKA
2,1970,1,6481976.496,1837862.766,4000A1,1100 S HOPE ST
3,1970,1,99999.000,99999.000,4000A1,BUNKER HILL/ALPINE
4,1970,1,99999.000,99999.000,4000A1,HOPE/N OF VENICE
5,1970,1,6476114.662,1872692.343,4000A1,4730 CRYSTAL SPRING
6,1970,1,99999.000,99999.000,4000A1,901 E GAGE
7,1970,1,99999.000,99999.000,80560000,1600 W 52ND ST
8,1970,1,6424732.340,1808177.629,8603,6615 PACIFIC AVE
9,1970,1,6483814.008,1824574.390,80560000,1048 E 43RD ST
10,1970,1,6470119.909,1831801.178,24,1566 W JEFFERSON AVE
11,1970,1,6477830.985,1806914.271,22500E,218 88TH ST W
12,1970,1,6481213.440,1795030.086,22500E,11913 AVALON BLVD S
13,1970,1,6478226.081,1810457.067,5204A-,159 80TH ST E
14,1970,1,6478226.081,1810457.067,22500E,159 80TH ST E
15,1970,1,6475790.703,1793371.856,80.69A+,12400 FIGUEROA ST S
16,1970,1,6475790.703,1793371.856,80.69A+,12400 FIGUEROA ST S
17,1970,1,99999.000,99999.000,80.56E4+,16320 FIGUEROA ST S
18,1970,1,99999.000,99999.000,80.61,16900 VERMONT AVE S
19,1970,1,99999.000,99999.000,5204A-,16900 VERMONT AVE S
20,1970,1,99999.000,99999.000,80.61,16900 VERMONT AVE S
21,1970,1,99999.000,99999.000,80.61,16900 VERMONT AVE S
22,1970,1,99999.000,99999.000,80.61,16900 VERMONT AVE S
23,1970,1,99999.000,99999.000,80.61,16900 VERMONT AVE S
24,1970,1,6473892.990,1780105.276,5200,800 163RD ST
25,1970,1,6473892.990,1780105.276,80.56E4+,800 163RD ST
26,1970,1,6473892.990,1780105.276,80.56E4+,800 163RD ST
27,1970,1,99999.000,99999.000,80.69B,15100 FIGUEROA ST S
28,1970,1,6479608.464,1742898.812,80.53,921 BAY VIEW AVE
29,1970,1,6485330.281,1862903.541,5204A-,2903 W GLENHURST AVE
...,...,...,...,...,...,...
169,1970,1,6478013.661,1822196.935,22500H,193 48TH ST E
170,1970,1,6478093.754,1822197.024,22500H,181 48TH ST E
171,1970,1,6474802.201,1812562.723,80.56E4+,759 74TH ST E
172,1970,1,6474802.201,1812562.723,80.56E4+,758 74TH ST E
173,1970,1,6471271.383,1820382.673,22500E,1309 53RD ST W
174,1970,1,6471095.518,1816748.834,22507.8A-,1333 61ST ST W
175,1970,1,6474466.453,1810394.340,80.61,822 80TH ST W
176,1970,1,6474466.453,1810394.340,80.61,822 80TH ST W
177,1970,1,6456559.393,1828067.866,80.61,3878 POTOMAC AVE
178,1970,1,6456559.393,1828067.866,80.61,3878 POTOMAC AVE
179,1970,1,6468891.347,1830487.384,22500E,1603 WEST 36TH PLACE
180,1970,1,6471992.730,1827654.509,22500E,3919 SOUTH BUDLONG AVENUE
181,1970,1,6455226.192,1827437.031,80.61,4040 NICOLET AVENUE
182,1970,1,6455226.192,1827437.031,80.61,4040 NICOLET AVENUE
183,1970,1,6455575.025,1827529.365,80.61,4025 COCO AVE
184,1970,1,6455194.531,1827179.480,80.61,4061 NICOLET AVE
185,1970,1,6455461.577,1827253.005,80.61,4065 COCO AVENUE
186,1970,1,6455325.121,1828262.521,5204A-,3939 NICOLET AVENUE
187,1970,1,6455325.121,1828262.521,80.61,3939 NICOLET AVENUE
188,1970,1,6455325.121,1828262.521,80.61,3939 NICOLET AVENUE
189,1970,1,6454864.481,1828351.704,80.61,3930 URSULA AVE
190,1970,1,6457067.087,1829939.294,80.71.3,3640 CHESAPEAKE AVENUE
191,1970,1,6465731.433,1831134.846,5204A-,2050 WEST 35TH PLACE
192,1970,1,6465731.433,1831134.846,22500E,2050 WEST 35TH PLACE
193,1970,1,6471115.782,1841031.581,80.56E4+,1101 SOUTH MARIPOSA AVENUE
194,1970,1,6471432.694,1841084.871,80.56E4+,1091 FEDORA ST
195,1970,1,6468706.413,1835745.541,80.56E4+,2025 WEST 22ND STREET
196,1970,1,6471989.947,1826831.094,22500E,3980 SOUTH BUDLONG AVENUE
197,1970,1,6471989.947,1826831.094,22500E,3980 BUDLONG AVENUE
198,1970,1,6440401.435,1882622.935,80.56E4+,12300 MAGNOLIA AVE

###  Connect to local database

In [65]:
# 6
# 5 of 11 crimes
### Connect to local database
rds_connection_string = "root:modelobootcamp@127.0.0.1/ladata_db"
engine = create_engine(f'mysql://{rds_connection_string}')
connection = engine.connect()

In [66]:
# 7
# 6 of 11 crimes
connection.execute('use ladata_db;')

In [67]:
# 8
# 7 of 11 crimes
engine.table_names()

['crime',
 'crimes_la',
 'crimes_la_new',
 'parking',
 'parking_crime',
 'parking_la',
 'parking_la_new',
 'parkings']

In [68]:
# 9
# 8 of 11 crimes
la_crimes_new.to_sql(name='crimes_la_new', con=engine, if_exists='append', index=False)

In [69]:
# 20
# 8 of 11 parking
la_parking_new.to_sql(name='parking_la_new', con=engine, if_exists='append', index=False)

In [70]:
# 10
# 9 of 11 crimes
results = engine.execute('select * from crimes_la_new;')

In [71]:
# 21
# 9 of 11 parking
results = engine.execute('select * from parking_la_new;')

### Confirm data has been added by querying the parking_la table

In [72]:
connection.execute('use ladata_db;')

In [31]:
for item in results:
    print(item)

(1970, 1, 99999.0, 99999.0, '4000A1', '8701 WINNETKA')
(1970, 1, 6389044.544, 1903724.333, '4000A1', '8401 WINNETKA')
(1970, 1, 6481976.496, 1837862.7659999998, '4000A1', '1100 S HOPE ST')
(1970, 1, 99999.0, 99999.0, '4000A1', 'BUNKER HILL/ALPINE')
(1970, 1, 99999.0, 99999.0, '4000A1', 'HOPE/N OF VENICE')
(1970, 1, 6476114.6620000005, 1872692.343, '4000A1', '4730 CRYSTAL SPRING')
(1970, 1, 99999.0, 99999.0, '4000A1', '901 E GAGE')
(1970, 1, 99999.0, 99999.0, '80560000', '1600 W 52ND ST')
(1970, 1, 6424732.34, 1808177.629, '8603', '6615 PACIFIC AVE')
(1970, 1, 6483814.007999999, 1824574.39, '80560000', '1048 E 43RD ST')
(1970, 1, 6470119.909, 1831801.178, '24', '1566 W JEFFERSON AVE')
(1970, 1, 6477830.985, 1806914.271, '22500E', '218 88TH ST W')
(1970, 1, 6481213.44, 1795030.086, '22500E', '11913 AVALON BLVD S')
(1970, 1, 6478226.081, 1810457.0669999998, '5204A-', '159 80TH ST E')
(1970, 1, 6478226.081, 1810457.0669999998, '22500E', '159 80TH ST E')
(1970, 1, 6475790.703, 1793371.856, '80.69A+', '12400 FIGUEROA ST S')
(1970, 1, 6475790.703, 1793371.856, '80.69A+', '12400 FIGUEROA ST S')
(1970, 1, 99999.0, 99999.0, '80.56E4+', '16320 FIGUEROA ST S')
(1970, 1, 99999.0, 99999.0, '80.61', '16900 VERMONT AVE S')
(1970, 1, 99999.0, 99999.0, '5204A-', '16900 VERMONT AVE S')
(1970, 1, 99999.0, 99999.0, '80.61', '16900 VERMONT AVE S')
(1970, 1, 99999.0, 99999.0, '80.61', '16900 VERMONT AVE S')
(1970, 1, 99999.0, 99999.0, '80.61', '16900 VERMONT AVE S')
(1970, 1, 99999.0, 99999.0, '80.61', '16900 VERMONT AVE S')
(1970, 1, 6473892.99, 1780105.2759999998, '5200', '800 163RD ST')
(1970, 1, 6473892.99, 1780105.2759999998, '80.56E4+', '800 163RD ST')
(1970, 1, 6473892.99, 1780105.2759999998, '80.56E4+', '800 163RD ST')
(1970, 1, 99999.0, 99999.0, '80.69B', '15100 FIGUEROA ST S')
(1970, 1, 6479608.464, 1742898.812, '80.53', '921 BAY VIEW AVE')
(1970, 1, 6485330.281, 1862903.541, '5204A-', '2903 W GLENHURST AVE')
(1970, 1, 6484997.397000001, 1862632.9109999998, '80.71.3', '3014 W GLENHURST AVE')
(1970, 1, 6485061.482000001, 1862656.6069999998, '5204A-', '3003 W GLENHURST AVE')
(1970, 1, 6484997.397000001, 1862632.9109999998, '5204A-', '3014 W GLENHURST AVE')
(1970, 1, 6484708.629, 1862668.216, '80.71.3', '3047 W GLENHURST AVE')
(1970, 1, 6484201.28, 1862657.7969999998, '5204A-', '3118 W GLENHURST AVE')
(1970, 1, 6483777.636, 1863097.9440000001, '5204A-', '3221 W GLENHURST AVE')
(1970, 1, 6483752.716, 1863123.835, '5204A-', '3226 W GLENHURST AVE')
(1970, 1, 6483744.409, 1863132.465, '5204A-', '3229 W GLENHURST AVE')
(1970, 1, 6484051.759, 1862813.1430000002, '22500F', '3155 W GLENHURST AVE')
(1970, 1, 6483744.409, 1863132.465, '5204A-', '3229 W GLENHURST AVE')
(1970, 1, 6483719.489, 1863158.356, '5204A-', '3234 W GLENHURST AVE')
(1970, 1, 6483702.875, 1863175.6169999999, '5204A-', '3238 W GLENHURST AVE')
(1970, 1, 6483227.778, 1863669.2140000002, '5204A-', '3342 W GLENHURST AVE')
(1970, 1, 6482820.717, 1864092.126, '5204A-', '3428 W GLENHURST AVE')
(1970, 1, 6483183.738, 1857827.9419999998, '5204A-', '2300 GLENDALE BLVD N')
(1970, 1, 6483362.177999999, 1855985.426, '80.69.2', '2030 GLENDALE BLVD N')
(1970, 1, 6483565.9520000005, 1852889.6090000002, '5204A-', '1917 W DELTA ST')
(1970, 1, 6483565.9520000005, 1852889.6090000002, '80.61', '1917 W DELTA ST')
(1970, 1, 6484845.142000001, 1851894.18, '5204A-', '1571 N PARMER AVE')
(1970, 1, 6484552.235, 1851429.824, '5204A-', '1524 W SCOTT AVE')
(1970, 1, 6484780.765, 1852156.708, '5204A-', '1612 N MORTON AVE')
(1970, 1, 6484818.243, 1852180.01, '5204A-', '1619 N MORTON AVE')
(1970, 1, 6484761.873, 1851601.9119999998, '22500F', '1529 N PARMER AVE')
(1970, 1, 6484733.757999999, 1851500.4519999998, '22500F', '1516 N PARMER AVE')
(1970, 1, 6484733.757999999, 1851500.4519999998, '22500F', '1516 N PARMER AVE')
(1970, 1, 6483828.449, 1850587.6919999998, '5204A-', '1320 ECHO PARK AVE N')
(1970, 1, 6484295.433999999, 1850123.5369999998, '5204A-', '1509 SUNSET BLVD W')
(1970, 1, 6485435.997, 1849524.841, '80.56E4+', '1300 N DOUGLAS ST')
(1970, 1, 6485314.243, 1849157.2959999999, '22500H', '1370 W ALLISON AVE')
(1970, 1, 6485198.757999999, 1849265.616, '22500H', '1210 N DOUGLAS ST')
(1970, 1, 6486427.373, 1845930.844, '5204A-', '1000 SUNSET BLVD W')
(1970, 1, 6483561.933999999, 1841237.084, '22500.1+', '550 FIGUEROA ST N')
(1970, 1, 6488213.4860000005, 1845334.7480000001, '80.61', '760 N HILL PL')
(1970, 1, 6489455.595, 1844485.1, '22500F', '741 N NEW HIGH ST')
(1970, 1, 6483879.786, 1844535.332, '5204A-', '1238 1ST ST W')
(1970, 1, 6483879.786, 1844535.332, '80.61', '1238 1ST ST W')
(1970, 1, 6483879.786, 1844535.332, '80.61', '1238 1ST ST W')
(1970, 1, 6483335.126, 1844653.6409999998, '80.56E4+', '200 TOLUCA ST S')
(1970, 1, 6482703.015, 1845124.456, '80.61', '108 S WITMER ST')
(1970, 1, 6482306.431, 1844379.9980000001, '80.56E4+', '231 S WITMER ST')
(1970, 1, 6480518.771000001, 1841476.815, '80.69B', '715 S WITMER ST')
(1970, 1, 6480252.362000001, 1841539.989, '22500A', '715 S COLUMBIA AVE')
(1970, 1, 6480431.271000001, 1841970.98, '80.56E4+', '1348 W INGRAHAM ST')
(1970, 1, 6480139.978999999, 1841923.698, '80.56E4+', '689 S VALENCIA ST')
(1970, 1, 6480700.081, 1841824.5669999998, '5204A-', '1319 W INGRAHAM ST')
(1970, 1, 6480700.081, 1841824.5669999998, '80.61', '1319 W INGRAHAM ST')
(1970, 1, 6480700.081, 1841824.5669999998, '80.61', '1319 W INGRAHAM ST')
(1970, 1, 6480095.991, 1843660.0280000002, '80.56E4+', '530 UNION AVE S')
(1970, 1, 6480274.922, 1843741.4540000001, '22502A', '1620 5TH ST W')
(1970, 1, 6480274.922, 1843741.4540000001, '80.56E4+', '1620 5TH ST W')
(1970, 1, 6480301.711, 1843727.0480000002, '80.56E4+', '1600 5TH ST W')
(1970, 1, 6479716.927999999, 1843876.7319999998, '80.56E4+', '1801 5TH ST W')
(1970, 1, 6479768.79, 1843971.802, '80.56E4+', '460 BURLINGTON AVE S')
(1970, 1, 6479768.79, 1843971.802, '80.56E4+', '460 BURLINGTON AVE S')
(1970, 1, 6481020.057, 1845596.355, '22500E', '215 UNION AVE S')
(1970, 1, 6480731.482999999, 1845047.89, '80.61', '260 UNION AVE S')
(1970, 1, 6480731.482999999, 1845047.89, '80.61', '260 UNION AVE S')
(1970, 1, 6481604.789, 1845513.4009999998, '80.61', '133 S UNION PL')
(1970, 1, 6481387.217, 1845313.8930000002, '80.61', '150 S UNION PL')
(1970, 1, 6481387.217, 1845313.8930000002, '80.61', '150 S UNION PL')
(1970, 1, 6430794.714, 1828461.1709999999, '5204A-', '11736 WOODBINE STREET')
(1970, 1, 6387241.847999999, 1898255.852, '5200', '20404 COHASSET STREET')
(1970, 1, 6387241.847999999, 1898255.852, '22514', '20404 COHASSET STREET')
(1970, 1, 6386964.247, 1898696.77, '80.69B', '20404 SATICOY STREET')
(1970, 1, 6400894.475, 1894425.991, '22500E', '6946 ETIWANDA AVE')
(1970, 1, 6400339.9229999995, 1893101.0969999998, '22500F', '6741 DARBY AVENUE')
(1970, 1, 6400337.726, 1892542.7019999998, '22500F', '6615 DARBY AVENUE')
(1970, 1, 6399369.291, 1886322.951, '22500E', '18525 COLLINS STREET')
(1970, 1, 6425663.215, 1898547.917, '80.56E4+', '14542 SATICOY STREET')
(1970, 1, 6426756.266, 1896740.906, '80.56E4+', '7320 LENNOX AVENUE')
(1970, 1, 6428631.75, 1897542.354, '80.56E4+', '14100 RUNNYMEDE STREET')
(1970, 1, 6428631.75, 1897542.354, '80.56E4+', '14100 RUNNYMEDE STREET')
(1970, 1, 6428623.092, 1895219.1169999999, '5204A-', '14100 GAULT STREET')
(1970, 1, 6427961.906, 1894942.9419999998, '80.56E4+', '7056 CALHOUN AVENUE')
(1970, 1, 6428624.118, 1895480.311, '22500H', '7139 HAZELTINE AVENUE')
(1970, 1, 6448020.938999999, 1836302.096, '805.6', '6041 CADILLAC AVE')
(1970, 1, 6448020.938999999, 1836302.096, '805.6', '6041 CADILLAC AVE')
(1970, 1, 6461663.41, 1840537.876, '22514', '1245 PLYMOUTH BLVD')
(1970, 1, 6452328.102000001, 1835031.7659999998, '80.56E4+', '5400 APPLE ST')
(1970, 1, 6459300.106000001, 1838801.9019999998, '22500E', '1667 VINEYARD AVE')
(1970, 1, 6456825.371, 1845528.78, '22500E', '664 CLOVERDALE AVE')
(1970, 1, 6471693.886, 1845655.5469999998, '80.69B', '3466 6TH ST W')
(1970, 1, 6471693.886, 1845655.5469999998, '80.69B', '3466 6TH ST W')
(1970, 1, 6456185.873, 1846061.3180000002, '80.56E4+', '613 DUNSMUIR AVE')
(1970, 1, 6469244.325, 1851269.116, '80.56E4+', '4626 ROSEWOOD AVE W')
(1970, 1, 6469083.456, 1851970.918, '80.56E4+', '557 HOBART BLVD N')
(1970, 1, 6469433.746, 1852264.8909999998, '80.56E4+', '603 HARVARD BLVD N')
(1970, 1, 6452095.365, 1851747.032, '80.56E4+', '7924 ROSEWOOD AVE W')
(1970, 1, 6451851.845, 1851889.052, '80.56E4+', '526 HAYWORTH AVE N')
(1970, 1, 6500393.782000001, 1861688.5480000002, '5204A-', '300 AVENUE 51 N')
(1970, 1, 6500393.782000001, 1861688.5480000002, '80.56E4+', '300 AVENUE 51 N')
(1970, 1, 6503141.165, 1862557.497, '22500E', '126 AVENUE 57 N')
(1970, 1, 6502380.703, 1862926.404, '22514', '317 AVENUE 56 S')
(1970, 1, 6503451.012999999, 1860227.9319999998, '80.56E4+', '5703 VIA MARISOL')
(1970, 1, 6502800.602000001, 1863135.7959999999, '80.56E4+', '303 AVENUE 57 S')
(1970, 1, 6502117.199, 1862452.189, '5204A-', '250 AVENUE 55 S')
(1970, 1, 6502117.199, 1862452.189, '22514', '250 AVENUE 55 S')
(1970, 1, 6487523.501, 1860368.503, '80.56E4+', '3001 NORTH COOLIDGE AVE')
(1970, 1, 6487336.22, 1860158.0080000001, '80.56E4+', '2951 NORTH COOLIDGE AVE')
(1970, 1, 6484589.012, 1852002.235, '80.56E4+', '1556 MORTON AVE')
(1970, 1, 6484007.48, 1850928.4530000002, '80.56E4+', '1400 FAIRBANKS PL')
(1970, 1, 6484007.48, 1850928.4530000002, '80.56E4+', '1400 FAIRBANKS PL')
(1970, 1, 6484007.48, 1850928.4530000002, '80.56E4+', '1400 FAIRBANKS PL')
(1970, 1, 6482630.757999999, 1837353.755, '80.56E4+', '301 11TH ST E')
(1970, 1, 6480048.393999999, 1839610.3090000001, '22514', '1236 OLYMPIC BLVD E')
(1970, 1, 6487687.866, 1834132.62, '80.56E4+', '903 CENTRAL AVE S')
(1970, 1, 6480054.172, 1839607.1819999998, '22514', '1234 OLYMPIC BLVD E')
(1970, 1, 6489664.696, 1844363.781, '22502E', '716 SPRING ST S')
(1970, 1, 6423281.741, 1879908.604, '22500E', '4750 KESTER AVE')
(1970, 1, 6429329.721, 1893245.791, '80.56E4+', '13990 VANOWEN STREET')
(1970, 1, 6426967.557, 1893925.025, '80.56E4+', '6901 LENNOX AVENUE')
(1970, 1, 6389647.301, 1904601.2480000001, '80.56E4+', '14780 CHASE STREET')
(1970, 1, 6424092.756, 1904477.085, '80.56E4+', '14789 CHASE STREET')
(1970, 1, 99999.0, 99999.0, '80.56E4+', '8701 NOBLE AVENUE')
(1970, 1, 6426541.107999999, 1897220.81, '80.56E4+', '14400 VALERIO STREET')
(1970, 1, 6426358.862000001, 1897221.584, '5200', '14435 VALERIO STREET')
(1970, 1, 6426358.862000001, 1897221.584, '80.56E4+', '14435 VALERIO STREET')
(1970, 1, 6426468.315, 1897221.096, '5200', '14417 VALERIO STREET')
(1970, 1, 6426468.315, 1897221.096, '80.56E4+', '14417 VALERIO STREET')
(1970, 1, 6418529.39, 1817510.753, '80.69B', '1827 SPEEDWAY')
(1970, 1, 6418327.6620000005, 1818107.78, '5204A-', '52 WINDWARD AVE')
(1970, 1, 6418327.6620000005, 1818107.78, '805.6', '52 WINDWARD AVE')
(1970, 1, 6418032.762999999, 1818514.677, '80.56E4+', '44 HORIZON AVE')
(1970, 1, 6418086.998, 1819707.525, '22514', '1011 MAIN ST')
(1970, 1, 6437034.231000001, 1829591.007, '22514', '3700 WESTWOOD BLVD')
(1970, 1, 6436767.128, 1830001.458, '22500F', '3640 WESTWOOD BLVD')
(1970, 1, 6436674.602999999, 1829410.7869999998, '80.56E4+', '3700 MIDVALE AVE')
(1970, 1, 6416631.312999999, 1820653.606, '80.69B', '51 DUDLEY CT')
(1970, 1, 99999.0, 99999.0, '80.69AA+', 'HURRICANE/ SPEEDWAY')
(1970, 1, 6417451.174, 1819848.826, '80.69AA+', '807 PACIFIC AVE')
(1970, 1, 6423794.973999999, 1823203.0680000002, '22502A', '1246 PALMS BLVD')
(1970, 1, 6473115.297, 1823848.5019999999, '80.69.2', '1029 VERNON AVE E')
(1970, 1, 6477987.017000001, 1821885.389, '80.56E4+', '197 49TH ST E')
(1970, 1, 6477946.97, 1821885.344, '80.56E4+', '203 49TH ST E')
(1970, 1, 6481278.685, 1820938.979, '80.56E4+', '5200 AVALON BLVD S')
(1970, 1, 6472070.502, 1823855.0269999998, '5204A-', '1180 VERNON AVE E')
(1970, 1, 6472070.502, 1823855.0269999998, '22500E', '1180 VERNON AVE E')
(1970, 1, 6478053.708, 1822196.98, '22500H', '187 48TH ST E')
(1970, 1, 6478013.661, 1822196.935, '22500H', '193 48TH ST E')
(1970, 1, 6478013.661, 1822196.935, '22500H', '193 48TH ST E')
(1970, 1, 6478093.754, 1822197.024, '22500H', '181 48TH ST E')
(1970, 1, 6474802.201, 1812562.7230000002, '80.56E4+', '759 74TH ST E')
(1970, 1, 6474802.201, 1812562.7230000002, '80.56E4+', '758 74TH ST E')
(1970, 1, 6471271.382999999, 1820382.6730000002, '22500E', '1309 53RD ST W')
(1970, 1, 6471095.517999999, 1816748.834, '22507.8A-', '1333 61ST ST W')
(1970, 1, 6474466.453, 1810394.34, '80.61', '822 80TH ST W')
(1970, 1, 6474466.453, 1810394.34, '80.61', '822 80TH ST W')
(1970, 1, 6456559.392999999, 1828067.866, '80.61', '3878 POTOMAC AVE')
(1970, 1, 6456559.392999999, 1828067.866, '80.61', '3878 POTOMAC AVE')
(1970, 1, 6468891.347, 1830487.384, '22500E', '1603 WEST 36TH PLACE')
(1970, 1, 6471992.73, 1827654.509, '22500E', '3919 SOUTH BUDLONG AVENUE')
(1970, 1, 6455226.192000001, 1827437.031, '80.61', '4040 NICOLET AVENUE')
(1970, 1, 6455226.192000001, 1827437.031, '80.61', '4040 NICOLET AVENUE')
(1970, 1, 6455575.025, 1827529.365, '80.61', '4025 COCO AVE')
(1970, 1, 6455194.531, 1827179.48, '80.61', '4061 NICOLET AVE')
(1970, 1, 6455461.5770000005, 1827253.005, '80.61', '4065 COCO AVENUE')
(1970, 1, 6455325.121, 1828262.521, '5204A-', '3939 NICOLET AVENUE')
(1970, 1, 6455325.121, 1828262.521, '80.61', '3939 NICOLET AVENUE')
(1970, 1, 6455325.121, 1828262.521, '80.61', '3939 NICOLET AVENUE')
(1970, 1, 6454864.481000001, 1828351.7040000001, '80.61', '3930 URSULA AVE')
(1970, 1, 6457067.087, 1829939.294, '80.71.3', '3640 CHESAPEAKE AVENUE')
(1970, 1, 6465731.432999999, 1831134.846, '5204A-', '2050 WEST 35TH PLACE')
(1970, 1, 6465731.432999999, 1831134.846, '22500E', '2050 WEST 35TH PLACE')
(1970, 1, 6471115.782000001, 1841031.581, '80.56E4+', '1101 SOUTH MARIPOSA AVENUE')
(1970, 1, 6471432.694, 1841084.871, '80.56E4+', '1091 FEDORA ST')
(1970, 1, 6468706.413, 1835745.541, '80.56E4+', '2025 WEST 22ND STREET')
(1970, 1, 6471989.947000001, 1826831.094, '22500E', '3980 SOUTH BUDLONG AVENUE')
(1970, 1, 6471989.947000001, 1826831.094, '22500E', '3980 BUDLONG AVENUE')
(1970, 1, 6440401.435, 1882622.935, '80.56E4+', '12300 MAGNOLIA AVE')